.content ul.demo {
    list-style: none;
}

.content .demo li {
    padding: 8px;
    margin-bottom: 3px;
    background-color: #f0f0f0;
}

.demo li.item {}

.demo li.selected {}

.demo #unico {}

.demo li[data-type="attr"] {}

.demo li:first-child {}

.demo li:last-child {}

.demo li:not(.ex) {}

.demo:has(.selected) {}

/* ===== 3) Cards ===== */
.cards {
    /* Layout em linha flexível ↓ */
    display: flex;
    /* Quebra linha se faltar espaço ↓ */
    flex-wrap: wrap;
    /* Espaçamento entre cards ↓ */
    gap: 16px;
}